body
{
   
}

.pill-item  {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    justify-content: center;
}

    .pill-item:hover {
        background-color: #64a5f5;
        color: white;
    }

.abouttimg {
    width: 200px;
    height:200px;
}

.card {
    border: 1px solid #343a40;
    border-radius: 8px;
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
*/    overflow: hidden;
    background-color: #cfd0d1;
    margin: 16px auto;
    width: 100%;
    max-width: 300px;
}


.card-body {
    padding: 16px;
    border-top: 1px solid #f0f0f0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}