body
{
   
}

.pill-item  {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    justify-content: center;
}

    .pill-item:hover {
        background-color: #64a5f5;
        color: white;
    }

.abouttimg {
    width: 150px;
    height:150px;
}

.card {
    border: 1px solid #343a40;
    border-radius: 8px;
    background-color: #cfd0d1;
    margin: 8px; 
    width: 100%;
    max-width: 300px;
    height: auto; 
}

.card-body {
    padding: 12px; 
    border-top: 1px solid #f0f0f0;
}

.card-img-top {
    width: 100%; 
    height: auto;
    max-height: 150px; 
    object-fit: cover; 
    border-bottom: 1px solid #f0f0f0;
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 8px; 
    margin: 0 auto;
}

.indextitle {
   justify-content: center !important;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text{
    font-size: 16px;
}

.hidden {
    display: none; 
}

.accordion {
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.accordion-header {
    padding: 12px 16px;
    background-color: #f9f9f9;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #ddd;
}

    .accordion-header:hover {
        background-color: #e2e6ea;
    }

.accordion-body {
    display: none;
    padding: 12px 16px;
    background-color: #fff;
}

.accordion-collapse.show .accordion-body {
    display: block;
}